.button-app-store {
    padding: 12px 40px 7px 20px;
    border: 1px solid var(--boder-dark);
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    background: transparent;
    color: var(--dark);
    overflow: hidden;
    transition: ease-in-out 0.3s;
    display: flex;
    align-items:center;
    gap: 8px;
}
.button-app-store .icon-content {

}
.button-app-store .text-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: left;
}

.button-app-store:hover
{
    background: var(--boder-dark);
    color: var(--light);
}

.button-app-store:hover .text-primary,
.button-app-store:hover .text-secondary {
    color: var(--light);
}

.button-app-store .with-icon {
    transition: ease-in-out 0.3s;
    align-self: center;
}

.button-app-store .text-primary {
    font-size: 12px;
    color: #666;
    transition: ease-in-out 0.3s;
    justify-self: start;
    line-height: 92%;
}

.button-app-store .text-secondary {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    transition: ease-in-out 0.3s;
    justify-self: start;
}